/*
Error: Invalid CSS after "...ground: #F5F5F5": expected "{", was ";"
        on line 247 of tree-visualizer.scss

242:         top: 12px;
243:         right: 12px;
244:         z-index: 9;
245:         padding: 12px;
246: <<<<<<< HEAD
247:         background: #F5F5F5;
248: =======
249:         background: whiteSmoke;
250: >>>>>>> origin/master
251:         opacity: 0.7;
252:         transition: all 200ms;

Backtrace:
tree-visualizer.scss:247
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/scss/parser.rb:1179:in `expected'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/scss/parser.rb:1115:in `expected'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/scss/parser.rb:1110:in `tok!'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/scss/parser.rb:655:in `block'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/scss/parser.rb:725:in `declaration_or_ruleset'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/scss/parser.rb:675:in `block_child'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/scss/parser.rb:656:in `block'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/scss/parser.rb:725:in `declaration_or_ruleset'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/scss/parser.rb:675:in `block_child'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/scss/parser.rb:656:in `block'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/scss/parser.rb:649:in `ruleset'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/scss/parser.rb:674:in `block_child'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/scss/parser.rb:126:in `stylesheet'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/scss/parser.rb:42:in `parse'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/engine.rb:403:in `_to_tree'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/engine.rb:278:in `render'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:420:in `run'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:63:in `process_result'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/exec/base.rb:52:in `parse'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/exec/base.rb:19:in `parse!'
E:/Slow Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/bin/sass:13:in `<top (required)>'
E:/Slow Program Files/Prepros/resources/app/ruby/loader.rb:15:in `load'
E:/Slow Program Files/Prepros/resources/app/ruby/loader.rb:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ground: #F5F5F5\": expected \"{\", was \";\"\A         on line 247 of tree-visualizer.scss\A \A 242:         top: 12px;\A 243:         right: 12px;\A 244:         z-index: 9;\A 245:         padding: 12px;\A 246: <<<<<<< HEAD\A 247:         background: #F5F5F5;\A 248: =======\A 249:         background: whiteSmoke;\A 250: >>>>>>> origin/master\A 251:         opacity: 0.7;\A 252:         transition: all 200ms;"; }
