@import "tv-variables";
@import "tv-buttons";
@import "clearfix";
#fs-tree-visualizer,
#tree-visualizer {
    box-sizing: border-box;
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    button {
        outline: 0;
        cursor: pointer;
    }
    .tree {
        overflow: auto;
        box-sizing: content-box;
        + .tooltip {
            position: fixed;
            z-index: 11;
            top: -100%;
            left: 0;
            padding: 12px;
            border: 6px solid white;
            background: darken(whiteSmoke, 2%);
            box-shadow: 0 2px 8px rgba(0,0,0,0.4);
            > ul {
                padding: 0 8px;
                list-style: none;
                columns: 2;
                column-rule: 1px solid $tree_branch;
                column-gap: 24px;
                li {
                    white-space: nowrap;
                }
            }
            &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                transform: rotate(-45deg);
                transform-origin: 0 0;
                border: 12px solid;
                bottom: -24px;
                left: 50%;
                margin-left: -24px;
                border-color: transparent transparent white white;
                box-shadow: -6px 6px 6px -2px rgba(0,0,0,0.2);
            }
            button {
                font: {
                    weight: bold;
                    size: 18px;
                };
                line-height: 1;
                position: absolute;
                top: 0;
                right: 0;
                width: 28px;
                height: 28px;
                transition: opacity 300ms;
                text-align: center;
                opacity: 0.4;
                color: white;
                border: 0;
                background: $error;
                &:hover {
                    opacity: 1;
                    background: darken($error, 4%);
                }
                &:active {
                    background: darken($error, 8%);
                }
            }
        }
        &.size-4 {
            font-size: 8px;
            ol,
            li {
                padding-top: 8px;
            }
            li:before,
            li:after,
            ol ol:before {
                height: 8px;
            }
            li a {
                padding: 2px 4px;
            }
        }
        &.size-3 {
            font-size: 10px;
            ol,
            li {
                padding-top: 10px;
            }
            li:before,
            li:after,
            ol ol:before {
                height: 10px;
            }
            li a {
                padding: 2px 6px;
            }
        }
        &.size-2 {
            font-size: 12px;
            li,
            ol {
                padding-top: 12px;
            }
            li:before,
            li:after,
            ol ol:before {
                height: 12px;
            }
            li a {
                padding: 4px 8px;
            }
        }
        &.size-1 {
            font-size: 14px;
            li,
            ol {
                padding-top: 14px;
            }
            li:before,
            li:after,
            ol ol:before {
                height: 14px;
            }
            li a {
                padding: 6px 10px;
            }
        }
        &.size0 {
            font-size: 16px;
            li,
            ol {
                padding-top: 16px;
            }
            li:before,
            li:after,
            ol ol:before {
                height: 16px;
            }
            li a {
                padding: 8px 12px;
            }
        }
        &.size1 {
            font-size: 18px;
            li,
            ol {
                padding-top: 18px;
            }
            li:before,
            li:after,
            ol ol:before {
                height: 18px;
            }
            li a {
                padding: 10px 12px;
            }
        }
        &.size2 {
            font-size: 20px;
            li,
            ol {
                padding-top: 20px;
            }
            li:before,
            li:after,
            ol ol:before {
                height: 20px;
            }
            li a {
                padding: 12px 24px;
            }
        }
        &.size3 {
            font-size: 24px;
            li,
            ol {
                padding-top: 24px;
            }
            li:before,
            li:after,
            ol ol:before {
                height: 24px;
            }
            li a {
                padding: 12px 24px;
            }
        }
        ol {
            position: relative;
            display: table;
            margin: 0 auto;
            padding-top: 12px;
            ol:before {
                position: absolute;
                top: 0;
                left: 50%;
                width: 0;
                height: 12px;
                content: "";
                border-left: 1px solid $tree_branch;
            }
        }
        > ol {
            padding-top: 0;
        }
        li {
            position: relative;
            display: table-cell;
            padding: 12px 6px 0;
            list-style-type: none;
            text-align: center;
            vertical-align: top;
            &:before,
            &:after {
                position: absolute;
                top: 0;
                right: 50%;
                width: 50%;
                height: 12px;
                content: "";
                border-top: 1px solid $tree_branch;
            }
            &:after {
                right: auto;
                left: 50%;
                border-left: 1px solid $tree_branch;
            }
            &.first-child {
                &:before {
                    border: 0 none;
                }
            }
            &.last-child {
                &:before {
                    border-right: 1px solid $tree_branch;
                }
                &:after {
                    border: 0 none;
                }
            }
            &.only-child {
                padding-top: 0;
                &:after,
                &:before {
                    display: none;
                }
            }
            a {
                display: inline-block;
                padding: 6px 12px;
                text-decoration: none;
                color: #666;
                border: 1px solid $tree_branch;
                border-bottom: 2px solid lighten($tree_branch,8%);
                border-radius: 4em;
                background: white;
                em {
                    font-weight: normal;
                }
                &:hover,
                &:hover + ol li a,
                &.hovered {
                    color: white;
                    border: 1px solid $tree_highlight;
                    border-bottom-width: 2px;
                    background: $tree_highlight;
                    box-shadow: none;
                }
                &:hover + ol li a.only-child {
                    border: 1px solid darken($tree_highlight,15%);
                    border-bottom-width: 2px;
                    background: darken($tree_highlight,15%);
                    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
                }
                &:hover + ol {
                    li:after,
                    li:before,
                    &:before,
                    ol:before {
                        border-color: lighten($tree_highlight,10%);
                    }
                }
                &.only-child {
                    font-weight: bold;
                    color: $tree_highlight;
                    margin-bottom: 4px;
                    &:hover,
                    &.hovered {
                        color: white;
                        border: 1px solid darken($tree_highlight,12%);
                        border-bottom-width: 2px;
                        background: darken($tree_highlight,12%);
                        text-shadow: 0 1px 0 rgba(0,0,0,0.4);
                    }
                }
            }
            span {
                display: block;
                margin: 2px auto;
            }
        }
    }
}
#tree-visualizer {
    .tree {
        min-height: 240px;
        font-size: 12px;
        margin: 24px auto;
        padding: 24px;
        border: 6px solid white;
        background: darken(whiteSmoke, 2%);
        + .tooltip {
            font-size: 12px;
        }
    }
    .show-tv {
        @extend %button;
        display: block;
        margin: 24px auto;
    }
}
#fs-tree-visualizer {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 72px 48px;
    background: url("../img/ie8-bg-fix-black.png") repeat;
    background: rgba(0,0,0,0.4);
    .tree {
        min-width: 480px;
        min-height: 180px;
        padding: 12px;
        background: whiteSmoke;
    }
    .zoom-opts {
        position: absolute;
        z-index: 12;
        top: 0;
        right: 0;
        padding: 12px;
        background: whiteSmoke;
        z-index: 12;
        border-bottom: 6px solid white;
        border-left: 6px solid white;
        @extend %clearfix;
        button {
            position: relative;
            float: left;
            width: 36px;
            height: 36px;
            margin-right: 1px;
            padding: 0;
            @extend %button;
            &.close {
                line-height: 1;
                width: 34px;
                height: 34px;
                margin-right: 0;
                margin-left: 12px;
                transition: all 300ms;
                color: $error;
                border: 2px solid $error;
                border-radius: 50%;
                background: transparent;
                text-shadow: none;
                &:hover {
                    color: white;
                    background: $error;
                }
                &:active {
                    top: auto;
                    border: 2px solid darken($error, 8%);
                    background: darken($error, 8%);
                }
            }
            &.zoom-default {
                width: auto;
                padding: 0 8px;
                border-radius: 0;
            }
            &:first-child {
                border-radius: 4em 0 0 4em;
            }
            &:nth-child(3) {
                border-radius: 0 4em 4em 0;
            }
        }
    }
}
#tv-error {
    margin-top: 24px;
    text-align: center;
    background: $error;
    line-height: 1.75;
    padding: 8px 16px;
    color: white;
    text-shadow: 0 1px rgba(0,0,0,0.32);
    p {
        margin: 0;
    }
}
